/*default background red: #D43C33 */
/*default background white: #FCFCFD */
/*default color red：#D33A31*/


/*topbar 顶栏*/
.topbar { background: #D43C33; padding: 20px 10px 19px; position: relative; }
.topbar > .logo { width: 142px; height: 25px; }
.topbar > .downloadButton { float: right; right: 10px; top: 17px; position: absolute;
    padding: 4px 10px; color: #fff; }
.topbar > .downloadButton::after { content: ''; display: block; position: absolute; top: -50%; left: -50%;
    border: 1px solid #fff; border-radius: 30px;
    width: 200%; height: 200%; transform: scale(0.5) }

/*tabs 主标签栏*/
.tabs { display: flex; justify-content: center; align-items: center; border-bottom: 1px solid #E8E8E8; }
.tabs > .tabs-main { width: 33.333333%; text-align: center; padding: 10px 0 7px; }
.tabs > .active > .tabText > span { color: #D33A31; position: relative; padding: 0 5px }
.tabs > .active > .tabText > span::after { content: ''; display: block; border-bottom: 2px solid #D43C33;
    position: absolute; width: 100%; left: 0px; bottom: -11px; padding: 2px; }

/*recommends 推荐音乐*/
.recommends{padding:5px 7px;}
.recommends > h2{font-size:17px;}